.contact-section {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
   /* background: linear-gradient(to top, #0D2E40, #fff); */ /* Zmiana kolorów według własnych preferencji */

  }
  
  .map-section {
    width: 45%;
    margin-bottom: 20px;
    margin-right: auto;
  }
  
  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 30%; 
    margin: 0 auto; 
    border-radius: 15px;
    background-color: #BD3F40;
    color: #fff;
  }
  
  .contact-data p{
    color: #fff;
  }
  .contact-details h2 {
    margin-bottom: 10px; 
 
  }
  
  .ContactForm {
    max-width: 600px;
    margin-top: 40px;
    margin: 0 auto;
    width: 45%; 
    
  }

  .ContactForm label {
    display: block;
    margin-bottom: 8px;
  }
  
  .ContactForm input,
  .ContactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .ContactForm button {
    background-color: #BD3F40;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ContactForm button:hover {
    background-color: #9e3536;
  }

  .social-media {
    display: flex;
    gap: 10px;
    margin-top: 10px; 
    color: #fff;
    font-size: 1.15rem;
  }
  