.footer {
  background-color: #0D2E40;
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb__footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.sb_footer-links-div {
  width: 180px;
  margin: 1rem;
}

.icons-custom {
  margin-right: 8px;
}

.sb__footer-copyright {
  text-align: center;
}

.sb__footer-copyright p {
  margin: 5px 0;
}

.sb__footer-copyright a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.sb_footer-links-div a {
  text-decoration: none;
  color: white;
}
