.singleCol{
    max-width: 750px;
    margin: auto;
    margin-left: 0; 
    margin-top: 20px;
    margin-bottom: 10px;
}

.social-media-icons-custom a{
    color: #0D2E40;
    font-size: 1.15rem;
    display: inline-block;
    margin-right: 15px;
    opacity: 80%;
    
}
